<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/comments/<%=comment.id%>"></form>
<h1>Edit</h1>
<textarea name="" id="" cols="30" rows="10"></textarea>
<%=comment.comment%>
<a href="/comments">Back to Index</a>
<a href="/comments">Edit Comments</a>
<button>Save</button>
</body>
</html>